* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Mobile base styles (default) */
body { font-size: 1rem;background-color:#002c45;
      -webkit-user-select:none;
      ms-user-select:none;
      user-select:none;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 12px cyan inset;
    height:100%;
    width:100%
 }

/* Tablet and larger */
@media (min-width: 768px) {
  body { font-size: 1.125rem;background-color:#002c45;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height:100%;
      width:100%
 }
}
.about-container {
    width:70%;
    height:100%;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #6bc1db;
    display: flex;
    margin: -7% auto 20px auto;
    margin-top: 100px;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
} 
 .logo-area { display: flex; align-items: center; gap: 5px; font-size: 1.2rem; font-weight: 800;color:transparent;background:linear-gradient(50deg,purple,blue,yellow);margin-top:-40px;margin-left:50px;-webkit-background-clip:text;}
.verified-badge { width: 18px; height: 18px; fill: #1DA1F2}
.activities{
    display: block;
    width:60%;
    height:100%;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color:rgb(186, 150, 103);
    margin: 10px;
    border-radius: 15px;
    font-family: monospace;
    animation:moveRight 3s ease-out infinite;
    box-shadow: 2px 2px 12px #6bc1db;
}
ul {
    list-style: none;
    overflow: hidden;
}
.projects{
    display: block;
    width:60%;
    height:100%;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color:rgb(186, 150, 103);
    margin: 10px;
    border-radius: 15px;
    font-family: monospace;
    animation:moveRight 6s ease-out infinite;
    box-shadow: 2px 2px 12px #6bc1db;
   
}
ul {
    list-style: none;
    overflow: hidden;
}
@keyframes moveRight{
    0%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(-100px);
    }
}

nav {
    height: 80px;
    background-color:#ebd09b;
    box-shadow: 2px 2px 12px #6bc1db;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 100;
    position: sticky;
    border-radius: 16px;
}
.flex-container {
  display: flex;
  justify-content:right; /* Aligns horizontally: 'flex-start', 'center', 'flex-end' */
  align-items:right; /* Aligns vertically */
    /* Required if you want vertical alignment */
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    width:auto;
    height:100%
}
h5{
    background-color:#f58764;
    color:yellow;
    border-radius:5px;
    text-align:center;
    font-size:1.3rem;
    text-shadow:3px 3px 13px gold;
    animation:rotate 3s ease-in infinite
}
@keyframes rotate{
    0%{
        transform:skewX(23deg)
    }
}
